{% extends "siteapp/appbase.html" %}
{% block wrapperBlock %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="headline first-child text-color"><span class="border-color">Название</span></h2>

                <h3 class="first-child primary-font">Заголовок 1</h3>

                <p>Текст 1.</p>

                <h3 class="primary-font">Block Title</h3>

                <p>Текст 2.</p>
            </div>
        </div>
        <!-- / .row -->
    </div> <!-- / .container -->
{% endblock %}