{% extends "siteapp/appbase.html" %}
{% block wrapperBlock %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member user-avatar text-center">
                    <img class="img-responsive center-block" src="/media/siteapp/klimentov.jpg" alt="...">
                    Алексей Анатольевич Климентов
                    <p class="text-muted">Ведущий ученый</p>
                </div>
            </div>
            <div class="col-sm-9">
                <h2 class="headline first-child text-color"><span class="border-color">Ведущий ученый</span></h2>

                <h3 class="first-child primary-font">Алексей Анатольевич Климентов</h3>

                <p align="justify">
                    Алексей Анатольевич является автором 556 статей и препринтов, 14476 цитирований согласно базе данных
                    Web of Science.
                    Web of science h-индекс = 48, impact factor = 26 (среднее число цитирований на статью).
                    h-index согласно базе данных INSPIRE : hHEP = 77 (включая цитирования статей, не вошедших в Web of
                    Science).
                    Является участником проектов ATLAS, AMS и L3.
                </p>

                <h3 class="primary-font">ATLAS, Большой Адронный Коллайдер в ЦЕРН</h3>

                <p align="justify">
                    (2005-настоящее время) Предложил и возглавил создание системы обработки больших потоков данных
                    (далее BigData) эксперимента АТЛАС, возглавил группу сотрудников, работающих по данной темaтике.
                    Система обработки и анализа данных была введена в эксплуатацию в 2009 году; она используется в
                    эксперименте для обработки данных 2009-2013 годов, несмотря на возрастание объемов данных (так
                    скорость набора данных возросла более чем в два раза по сравнению с 2009 годом) и требований к их
                    обработке. Предложил и был основным разработчиком концепции организации данных для их анализа
                    физическими группами эксперимента. Руководил перспективными разработками в новых технологических
                    областях : «cloud computing», «нереляционные базы данных», «методы хранения информации». Указанные
                    выше технологии включены в план эксперимента для подготовки к новой фазе работ БАК в 2015 году.
                    Соавтор статьи 2012 года, «Combined search for the Standard Model Higgs boson using up to 4.9 fb(-1)
                    of pp collision data at root s=7 TeV with the ATLAS detector at the LHC» , 209 цитирований согласно
                    базе данных Web of Science.

                    Координатор проекта распределенных вычислительных систем и обработки данных эксперимента АТЛАС (2009
                    –настоящее время). В проекте участвуют более 100 физиков и специалистов области вычислительной
                    техники из 60 лабораторий и институтов многих стран.
                </p>

                <h3 class="primary-font">Alpha-Magnetic Spectrometer (эксперимент на space shuttle и Международной
                    Космической Станции)</h3>

                <p align="justify">
                    1998-2005 Предложил и руководил созданием центра обработки и анализа информации эксперимента AMS в
                    ЦЕРН.

                    Основной разработчик системы обработки данных эксперимента. Представитель эксперимента в структурах
                    НАСА по вопросам обработки, передачи и управления данными эксперимента (1997-2005 гг). Воглавлял
                    переобработку данных (после калибровки детектора на тяжело-ионном пучке в GSI, Дармштадт, Германия).
                    Предложил и обосновал концепцию управления данными эксперимента AMS на МКС. Данная система была
                    реализована в 2008 году и используется до сих пор.

                    Соавтор статьи : «Cosmic-ray positron fraction measurement from 1 to 30 GeV with AMS-01» (2007 год),
                    170 цитирований согласно базе данных Web of Science.

                    1995-1998 Воглавил и основной разработчик группы по разработке Вычислительной Модели эксперимента.
                    Разработал программное обеспечение для обработки данных эксперимента, с использованием
                    объектно-ориентированного подхода на основе языка C++. Одно из первых применений С++ в физических
                    экспериментах такого масштаба. Ответственный за данные эксперимента записанные на борту space
                    shuttle.

                    Соавтор статьи «The Alpha Magnetic Spectrometer (AMS) on the International Space Station: Part I -
                    results from the test flight on the space shuttle» (2002), 254 цитирований, согласно базе данных Web
                    of Science.
                </p>

                <h3 class="primary-font">L3, эксперимент на Большом электрон-позитронном коллайдере в ЦЕРН</h3>

                <p align="justify">
                    1987-2000 Компьютерный координатор для online вычислительных систем эксперимента L3. Предложил и
                    координировал модернизацию центра обработки эксперимента в режиме online. Предложил, написал
                    программное обеспечение (ПО) и ввел в эксплуатацию передачу данных между online и offline центрами
                    эксперимента, что позволило обрабатывать данные в режиме квази-online (с задежку менее одного часа).
                    Предложил, создал ПО для кластера триггера третьего уровня эксперимента, основной разработчик
                    программ межпроцессорного обмена и контроля. Ответственный за передачу данных между управлением
                    ускорителя и эксперимента (L3-LEP), основной разработчик базы данных для связи двух систем
                    (пионерская работа, позже принята тремя другими экспериментами на LEP). Автор и основной разработчик
                    ПО для систем адронного калориметра, включая код для реконструирования событий, мониторирование,
                    набора данных и контроля систем жизнеобеспечения установки.

                    Соавтор статьи «Search for the standard model Higgs boson at LEP» (2002) , 929 цитирований согласно
                    базе данных Web of Science.
                </p>
            </div>
        </div>
        <!-- / .row -->
    </div> <!-- / .container -->
{% endblock %}